<!DOCTYPE html>
<html>
<head>
    <title>Generowanie wykresu interaktywnego</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Generowanie wykresu interaktywnego</h1>
    <form id="plot-form">
        <label for="market-hash-names">Nazwy skrzynek (oddzielone przecinkami):</label><br>
        <input type="text" id="market-hash-names" name="market-hash-names"><br>
        <label for="num-days">Liczba dni:</label><br>
        <input type="number" id="num-days" name="num-days"><br><br>
        <input type="submit" value="Generuj wykres">
    </form>
    <div id="plot-container" style="width: 800px; height: 600px;"></div>

    <script>
        document.getElementById('plot-form').addEventListener('submit', function(e) {
            e.preventDefault();

            var marketHashNames = document.getElementById('market-hash-names').value.split(',');
            var numDays = parseInt(document.getElementById('num-days').value);

            fetch('/generate_plot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    market_hash_names: marketHashNames,
                    num_days: numDays
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log("Received data:", data);
                var plotContainer = document.getElementById('plot-container');
                plotContainer.innerHTML = data.plot_html;
                Plotly.newPlot(plotContainer, JSON.parse(data.plot_data), JSON.parse(data.plot_layout));
            })
            .catch(error => {
                console.error('Error:', error);
                var plotContainer = document.getElementById('plot-container');
                plotContainer.innerHTML = '<p>Wystąpił błąd podczas generowania wykresu.</p>';
            });
        });
    </script>
</body>
</html>